<?xml version="1.0"?>
<opencv_storage>
<BoardSizeWidth> 9</BoardSizeWidth>
<BoardSizeHeight>7</BoardSizeHeight>  
<SquareSize>3.75</SquareSize>
<LeftImages>
left_image1025.png
left_image1128.png
left_image1177.png
left_image1294.png
left_image1430.png
left_image1485.png
left_image1982.png
left_image2455.png
left_image313.png
left_image3480.png
left_image785.png
</LeftImages>
<RightImages>
right_image1025.png
right_image1128.png
right_image1177.png
right_image1294.png
right_image1430.png
right_image1485.png
right_image1982.png
right_image2455.png
right_image313.png
right_image3480.png
right_image785.png
</RightImages>
</opencv_storage>
